/vendor/
/composer.lock
/.phpstorm.meta.php
/pimple.json
/tests/*
!/tests/.gitinclude
/Nine/Support/Query.zip
/Nine/Contracts/Container/
/Nine/Cache.zip
/psy.php
/saminine.php
/Docs/
/local/
/.idea/
/coverage/
/build/
